* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: myriad-pro, sans-serif;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
}

button > a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}
button {
    cursor: pointer;
    outline: none;
}

li > a {
    display: block;
    width: 100%;
    height: 100%;
}

.size {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.user-img {
    width: 25px;
    height: 25px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 7px;
    cursor: pointer;
}
.user-img > img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.brown-btn  {
    border: 1px solid #947368;
    background-color: #fff;
    border-radius: 12px;
    color: #947368;
    transition: .3s;
}
.brown-btn:hover {
    background-color: #947368;
    color: #fff;
}
.brown-btn > a {
    padding: 7px 12px;
}
.brown-btn-rev  {
    border: 1px solid #947368;
    background-color: #947368;
    border-radius: 12px;
    color: #fff;
    transition: .3s;
}
.brown-btn-rev:hover {
    background-color: #fff;
    color: #947368;
}
.brown-btn-rev > a {
    padding: 7px 12px;
}

/* header */
header {
    width: 100%;
    height: 70px;
    position: relative;
}
header > .size {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}
#header-nav > * {
    float: left;
    margin-left: 20px;
}
#header-nav > a {
    font-size: 21px;
    color:#947368;
}

.search-box {
    border: 1px solid #947368;
    border-radius: 15px;
    padding: 2px 12px;
    width: 220px;
    height: 27px;
    position: relative;
}
.search-box > input {
    outline: none;
    border: none;
    background: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
}
.search-box > button {
    background: none;
    border: none;
    color: #947368;
    width: 20px;
    position: absolute;
    top: 0;
    right: 0;
}
#header-menu-btn {
    border: none;
    background: none;
}
#header-menu-btn > span {
    font-size: 21px;
    color: #947368;
}

#header-menu  {
    position: absolute;
    top: 110%;
    right: 0;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    transition: .4s;
    z-index: 10;
}
#header-menu > li {
    border-bottom: 1px solid #ba9a8f;
}
#header-menu > li:nth-of-type(1) > a ,
#header-menu > li:nth-of-type(1){
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
#header-menu > li:nth-last-child(1) > a,
#header-menu > li:nth-last-child(1) {
    border: none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
#header-menu > li > a {
    padding: 7px 12px;
    transition: .4s;
    background-color: #947368;
    color: #fff;
    line-height: 35px;
}
#header-menu > li > a:hover {
    background-color: #ba9a8f;
}

/* MAIN */

/* main- nav */
#main-nav {
    width: 100%;
    height: 70px;
    background-color: #fff0eb;
}
#main-nav > ul {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#main-nav > ul > li > a {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .25s;
}
#main-nav > ul > li > a:hover {
    transform: scale(1.1);
}
#main-nav > ul > li > a > img {
    width: 30px;
}
#main-nav > ul > li > a > span {
    font-size: 13px;
    color: #806157;
}

/* main -ranking- */
#main-ranking {
    width: 100%;
    height: auto;
}
#main-ranking > div {
    width: 1200px;
    margin: 0 auto;
    border-bottom: 1px solid #efefef;
    padding: 32px 0;
}
#main-ranking  > div > h2 {
    float: left;
    font-weight: 500;
    margin-left: 21px;
    margin-bottom: 14px;
}
#main-ranking > div > a {
    float: right;
    margin: 12px 21px 0 0;
    color: #947368;
}
.ranking-video-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.ranking-video {
    width: 270px;
    margin: 0 12px;
    position: relative;
}
.ranking-video > .ranking-video-img {
    width: 100%;
    height: 155px;
    overflow: hidden;
    position: relative;
    margin-bottom: 3px;
}
.ranking-video-img > img {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .3s;
    top: 0;
    left: 0;
}
.ranking-video > h2 {
    font-weight: 300;
    font-size: 21px;
    margin-bottom: 7px;
    padding: 0 7px;
}
.ranking-video-user {
    font-weight: 100;
    display: flex;
    flex-direction: row;
    padding: 0 12px;
}
.ranking-video-user > div {
    width: 21px;
    height: 21px;
}
.ranking-video > div > span {
    width: 80%;
    word-break: break-all;
}
.ranking-video > a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.ranking-video:hover > .ranking-video-img > img {
    transform: scale(1.05);
    opacity: .8;
}

/* main- help */
#help {
    width: 100%;
    margin: 82px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#help > a{
    margin: 0 42px;
    font-size: 21px;
    text-align: center;
    color: #324d41;
}
#help > a:nth-of-type(1) {
    color: #df4949;
}
#help > a > span {
    font-size: 14px;
}
#help > a > i {
    margin-right: 7px;
}

/* login */
#login,
#register {
    width: 100%;
    height: auto;
    padding: 150px 0;
    position: relative;
}
#login > .size > p,
#register > .size > p {
    text-align: center;
    color: #777;
}
#login > .size > p > a,
#register > .size > p > a{
    color: #fab148;
    text-decoration: underline;
}
#login-form,
#register-form {
    width: 500px;
    margin: 0 auto;
    border: 2px solid #efefef;
    background-color: #fff;
    padding: 50px 80px;
    border-radius: 12px;
    margin-bottom: 21px;
}
#login-form > h1,
#register-form > h1 {
    text-align: center;
    color: #333;
    font-size: 35px;
}
#login-form > p,
#register-form > p {
    text-align: center;
    font-size: 20px;
    color: #ea5c2a;
}
.login-input,
.register-input {
    margin: 32px auto;
}
.login-input > p,
.register-input > p {
    margin-bottom: 7px;
    color: #333;
    font-weight: bold;
    float: left;
}
.register-input > button {
    float: right;
    background-color: #fff;
    border: 1px solid #fab148;
    color: #fab148;
    border-radius: 7px;
    padding: 3px 7px;
    margin-bottom: 7px;
    transition: .3s;
}
.register-input > button:hover {
    color: #fff;
    background-color: #fab148;
}
.login-input > input,
.register-input > input {
    width: 100%;
    height: 45px;
    border: 1.5px solid #ddd;
    border-radius: 12px;
    padding: 0 16px;
    outline: none;
}
.login-input > input:focus,
.register-input > input:focus {
    transition: .3s;
    border-color: #fab148;
    box-shadow: 0 0 10px 1px #fab148;
}
#login-form > button,
#register-form > button {
    width: 100%;
    height: 50px;
    background-color: #ea5c2a;
    border: 1px solid #ea5c2a;
    border-radius: 12px;
    color: #fff;
    font-size: 18px;
    transition: .3s;
}
#login-form > button:hover,
#register-form > button:hover {
    background-color: #fff;
    color: #ea5c2a;
}
#login-back,
#register-back {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("/img/back.svg");
    background-position: center center;
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    opacity: .05;
    z-index: -1;
}

.register-input > div {
    float: left;
    display: block;
    width: 100%;
    margin-bottom: 30px;
}
.filebox input[type="file"] {
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
  }
  
  .filebox label {
    display: block;
    padding: .5em .75em;
    color: #fff;
    font-size: inherit;
    line-height: normal;
    background-color: #df4949;
    cursor: pointer;
    border-radius: 7px;
    width: 22%;
    text-align: center;
    float: right;
  }
  
  /* named upload */
  .filebox .upload-name {
    display: block;
    padding: .5em .75em;
    font-size: inherit;
    font-family: inherit;
    line-height: normal;
    background-color: #f5f5f5;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
    appearance: none;
    width: 75%;
    float: left;
  }



/* list-page */
#list {
    width: 100%;
    height: auto;
    margin-bottom: 70px;
}
.list-title {
    width: 100%;
    height: 70px;
    background-color: #faf1e7;
    margin-bottom: 35px;
}
.list-title .size {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.list-title img {
    width: 45px;
    height: 45px;
    display: block;
    margin: 0 32px;
}
.list-tbl {
    border-collapse: collapse;
    margin: 32px auto;
    width: 100%;
}
.list-tbl tr {
    border-bottom: 1px solid #aaa;
}
.list-tbl tr th {
    padding-bottom: 12px;
    font-weight: 100;
    text-align: center;
}
.list-tbl tr td {
    padding: 21px 12px;
}
.list-tbl tr td > p {
    font-size: 12px;
}
.list-tbl tr:hover {
    background-color: #f7f8f9;
}
.list-tbl tr:hover th {
    background-color: #fff;
}
.list-tbl tr td:nth-of-type(3),
.list-video-no {
    text-align: center;
}
.list-video-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.list-video-img {
    width: 45px;
    height: 45px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-right: 21px;
    border-radius: 12px;
}
.list-video-title > a {
    width: 90%;
    word-break: break-all;
}
.list-video-title > a > .list-comment {
    margin-left: 7px;
    font-size: 12px;
    color: #ea5c2a;
}
.list-video-title > a > .list-video-vl {
    font-size: 12px;
    color: #999;
}
.list-video-img > img {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.list-video-user {
    display: flex;
    flex-direction: row;
    word-break: break-all;
}
.list-video-user > span {
    max-width: 120px;
}
.list-page-btns {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 45px;
}
.list-page-btns > button {
    margin: 0 14px;
}

/* post */
#post {
    margin: 70px auto;
    margin-bottom: 120px;
}
.post-title {
    width: 100%;
    margin-bottom: 30px;
    padding: 21px;
}
.post-title > h2 {
    font-weight: 600;
    margin-bottom: 21px;
}
.post-title > p {
    font-weight: 100;
    color: #777;
    display: flex;
    margin-bottom: 32px;
}
.post-title > p > span {
    margin-right: 17px;
}
.post-title > p > span.line {
    display: inline-block;
    width: 1px;
    background-color: #ddd;
}
.post-user {
    width: auto;
    height: auto;
    word-break: break-all;
    display: flex;
    font-size: 18px;
}
.post-user > div {
    width: 27px;
    height: 27px;
}

.post-video {
    width: 100%;
    margin: 70px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post-contents {
    padding: 32px;
    word-break: break-all;
    margin-bottom: 42px;
}
.post-btns {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
    background-color: rgb(255, 247, 247);
    padding: 21px 0;
}
.post-btns > button {
    background: none;
    border: none;
    margin: 0 21px;
    color: rgb(116, 107, 107);
    transition: .3s;
}
.post-btns > button:hover {
    color: rgb(59, 7, 7);
}
.post-btns > button > i {
    font-size: 32px;
}
.post-btns > button > p {
    font-size: 16px;
}
.post-comments {
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: none;
}
.post-comment-input {
    width: 100%;
    height: 75px;
    margin-bottom: 32px;
    position: relative;
    border-radius: 21px;
    border: 1px solid #947368;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 12px 21px;
}
.post-comment-input > textarea {
    width: 100%;
    font-size: 18px;
    resize: none;
    outline: none;
    border: none;
    overflow: hidden;
}
.post-comment-input > button {
    padding: 7px 14px;
}
.timeline {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.timeline > .comment {
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 21px;
}
.comment > .comment-user-name {
    display: flex;
    margin-bottom: 12px;
}
.comment > p {
    word-break: break-all;
    margin-bottom: 7px;
}
.comment > span {
    color: #777;
}

/* footer */
footer {
    width: 100%;
    height: auto;
}
#footer-nav {
    width: 100%;
    height: 50px;
    background-color: #ba9a8f;
    color: #fae0d7;
}
#footer-nav > ul {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer-sns {
    display: flex;
    flex-direction: row;
}
.footer-sns > a {
    margin: 0 6px;
}

#footer-copy {
    width: 100%;
    height: 80px;
    background-color: #947368;
    text-align: center;
    line-height: 80px;
    color: #d4a494;
}

/* alert */

.alert-div {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}
.alert-box {
    width: 500px;
    height: auto;
    background-color: #fab148;
    border-radius: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 300;
    padding: 50px;
    color: #fff;
}
.alert-box > span {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    font-size: 32px;
}
.alert-box > h2 {
    font-size: 24px;
    margin-bottom: 32px;
}
.alert-box > h4 {
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-bottom: 24px;
}
.alert-box > p {
    text-align: center;
}
.alert-back {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: .7;
    cursor: pointer;
}

/* write */
#write {
    margin: 80px auto;
    width: 800px;
}

#write > h2 {
    text-align: center;
    font-size: 35px;
}
#write > .line {
    width: 80px;
    height: 2px;
    background-color: #df4949;
    text-align: center;
    margin: 30px auto;
}
#write > p {
    margin-bottom: 12px;
    margin-left: 21px;
    font-weight: 500;
}
#write > input,
#write > select,
#write > textarea {
    width: 100%;
    height: 45px;
    margin-bottom: 32px;
    border: 1.5px solid #ddd;
    border-radius: 12px;
    padding: 0 16px;
    outline: none;
}
#write > textarea {
    height: 90px;
    resize: none;
    padding: 16px;
}
#write > input:focus,
#write > select:focus,
#write > textarea:focus {
    transition: .3s;
    border-color: #fab148;
    box-shadow: 0 0 10px 1px #fab148;
}
#write > button {
    width: 100%;
    height: 65px;
    font-size: 24px;
}

/* profile */
#profile-main {
    width: 100%;
    height: auto;
    min-height: 150px;
    display: flex;
    flex-direction: row;
    padding: 30px;
}
.profile-box {
    width: 50%;
    display: flex;
}
.profile-box >.user-img {
    width: 70px;
    height: 70px;
    float: left;
    display: flex;
    margin-right: 12px;
}
.profile-box > h2 {
    max-width: 470px;
    word-break: break-all;
    padding-top: 16px;
    font-weight: 600;
}
.profile-menu {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.profile-menu > button {
    background: none;
    border: none;
    margin: 0 24px;
    font-size: 24px;
    font-weight: bold;
}
.profile-menu > button > p {
    font-weight: 100;
    font-size: 16px;
}
#profile-list {
    margin-bottom: 120px;
}
#profile-list > div {
    display: none;
}

/* search */
#search {
    margin: 50px auto;
    margin-bottom: 120px;
}
#search > h2 {
    text-align: center;
    margin-bottom: 32px;
    font-size: 24px;
}
#search > h2 > span {
    color: #df4949;
    font-size: 32px;
    margin: 0 12px;
}
#search > h3 {
    text-align: center;
    color: #777;
}


/* 반응형 */
@media (max-width: 767px) {
    .size {
        width: 400px;
    }

    header {
        height: 140px;
    }
    header > .size {
        flex-direction: column;
        justify-content: center;
    }
    #header-nav {
        margin-top: 14px;
    }

    #main-nav > ul {
        width: 400px;
        justify-content: space-between;
    }


    #main-ranking > div {
        width: 400px;
    }

    .ranking-video-box {
        flex-wrap: wrap;
    }
    .ranking-video {
        width: 170px;
        margin-bottom: 21px;
    }
    .ranking-video > .ranking-video-img {
        height: 120px;
    }
    .ranking-video > h2 {
        font-size: 18px;
    }

    #help {
        flex-direction: column;
    }
    #help > a {
        margin: 42px auto;
    }
    #login,
    #register {
        padding: 50px 0;
    }
    #login-form, #register-form {
        width: 400px;
    }
    .filebox label {
        padding: 8px 4px;
        font-size: 14px;
    }
    
    #list > .size {
        width: 500px;
    }
    .list-tbl tr td {
        padding: 7px;
        font-size: 12px;
    }
    .list-video-title > a {
        width: 80%;
    }
    .list-video-img{
        width: 30px;
        height: 30px;
        border-radius: 7px;
        margin-right: 7px;
    }
    .list-video-user > span {
        max-width: 30px;
    }

    .post-title > p {
        font-size: 12px;
    }
    .post-title > p > span {
        margin-right: 10px;
    }
    .post-user {
        font-size: 16px;
    }
    .post-user > div {
        width: 24px;
        height: 24px;
    }

    #write {
        width: 400px;
    }
    #profile-main {
        flex-direction: column;
        padding: 12px;
        align-items: center;
        margin-bottom: 32px;
    }
    .profile-box {
        justify-content: center;
    }
    .profile-menu {
        width: 100%;
        justify-content: center;
    }

    #footer-nav {
        height: 150px;
    }
    #footer-nav > ul {
        width: 400px;
        flex-wrap: wrap;
    }
    #footer-nav > ul > li {
        width: 50%;
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .size {
        width: 600px;
    }

    header {
        height: 160px;
    }
    header > .size {
        flex-direction: column;
        justify-content: center;
    }
    #header-nav {
        margin-top: 14px;
    }

    #main-nav > ul {
        width: 400px;
        justify-content: space-between;
    }

    #main-ranking > div {
        width: 600px;
    }

    .ranking-video-box {
        flex-wrap: wrap;
    }
    .ranking-video {
        width: 270px;
        margin-bottom: 21px;
    }
    .ranking-video > .ranking-video-img {
        height: 160px;
    }
    .ranking-video > h2 {
        font-size: 21px;
    }

    #help {
        flex-direction: row;
    }
    #help > a {
        margin: 0 24px;
    }
    #login,
    #register {
        padding: 50px 0;
    }
    #login-form, #register-form {
        width: 600px;
    }
    .filebox label {
        padding: 8px 4px;
        font-size: 14px;
    }
    
    #list > .size {
        width: 700px;
    }
    .list-tbl tr td {
        padding: 7px;
        font-size: 14px;
    }
    .list-video-title > a {
        width: 80%;
    }
    .list-video-img{
        width: 35px;
        height: 35px;
        border-radius: 7px;
        margin-right: 7px;
    }
    .list-video-user > span {
        max-width: 30px;
    }

    .post-title > p {
        font-size: 12px;
    }
    .post-title > p > span {
        margin-right: 10px;
    }
    .post-user {
        font-size: 16px;
    }
    .post-user > div {
        width: 24px;
        height: 24px;
    }

    #write {
        width: 600px;
    }
    #profile-main {
        flex-direction: column;
        padding: 12px;
        align-items: center;
        margin-bottom: 32px;
    }
    .profile-box {
        justify-content: center;
    }
    .profile-menu {
        width: 100%;
        justify-content: center;
    }

    #footer-nav {
        height: 100px;
    }
    #footer-nav > ul {
        width: 600px;
        flex-wrap: wrap;
    }
    #footer-nav > ul > li {
        width: 30%;
        text-align: center;
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    .size {
        width: 1000px;
    }
    #main-nav > ul {
        width: 1000px;
    }

    #main-ranking > div {
        width: 1000px;
    }

    .ranking-video {
        width: 220px;
        margin-bottom: 21px;
    }
    .ranking-video > .ranking-video-img {
        height: 150px;
    }
    .ranking-video > h2 {
        font-size: 18px;
    }

    .filebox label {
        padding: 8px 4px;
        font-size: 14px;
    }
    
    #list > .size {
        width: 1000px;
    }
    .list-tbl tr td {
        padding: 21px 12px;
    }
    
    .list-video-title > a {
        width: 90%;
        word-break: break-all;
    }
    .list-video-img {
        width: 45px;
        height: 45px;
        position: relative;
        overflow: hidden;
        display: inline-block;
        margin-right: 21px;
        border-radius: 12px;
    }
    .list-video-user > span {
        max-width: 100px;
    }

    .post-title > p {
        font-size: 12px;
    }
    .post-title > p > span {
        margin-right: 10px;
    }
    .post-user {
        font-size: 16px;
    }
    .post-user > div {
        width: 27px;
        height: 27px;
    }

    #write {
        width: 600px;
    }

    #footer-nav > ul {
        width: 1000px;
    }
}

@media (min-width: 1200px) {
    .size {
        width: 1200px;
    }

    #main-nav > ul {
        width: 1200px;
    }

    #main-ranking > div {
        width: 1200px;
    }

    .ranking-video {
        width: 270px;
        margin: 0 12px;
    }
    .ranking-video > .ranking-video-img {
        height: 155px;
    }
    .ranking-video > h2 {
        font-size: 21px;
    }

    .filebox label {
        padding: 8px 4px;
        font-size: 14px;
    }
    
    #list > .size {
        width: 1200px;
    }
    .list-tbl tr td {
        padding: 21px 12px;
    }
    
    .list-video-title > a {
        width: 90%;
        word-break: break-all;
    }
    .list-video-img {
        width: 45px;
        height: 45px;
        position: relative;
        overflow: hidden;
        display: inline-block;
        margin-right: 21px;
        border-radius: 12px;
    }
    .list-video-user > span {
        max-width: 120px;
    }

    .post-title > p {
        font-size: 12px;
    }
    .post-title > p > span {
        margin-right: 10px;
    }
    .post-user {
        font-size: 16px;
    }
    .post-user > div {
        width: 27px;
        height: 27px;
    }

    #write {
        width: 800px;
    }

    #footer-nav > ul {
        width: 1200px;
    }

}